<ion-tab-bar slot="bottom">
  <ion-tab-button  [routerLink]="['/home']">
    <ion-icon name="home-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button  [routerLink]="['/categories']">
    <ion-icon name="search-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button  [routerLink]="['/add-new']">
    <ion-icon name="add-circle" class="circle-icon" style="font-size: 70px"></ion-icon>
  </ion-tab-button>

  <ion-tab-button  [routerLink]="['/garage-sales']">
    <ion-icon name="bag"></ion-icon>
  </ion-tab-button>

  <ion-tab-button  [routerLink]="['/settings']">
    <ion-icon name="settings"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
