.profile-content {

    ion-card {
        width: 100%;
        text-align: center;
        margin: 10px auto;
    }

    .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 75px;
        margin: auto;
    }
}
